<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.esolution.family.view"
            targetID="com.esolution.family.view">
         <action
               class="com.esolution.family.validation.constraints.BatchValidate"
               id="com.esolution.family.validation.actionValidate"
               label="Verification"
               menubarPath="org.eclipse.emf.validationMenuID/additions">
         </action>
         <menu
               id="org.eclipse.emf.validationMenuID"
               label="Batch validate"
               path="additions">
         </menu>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.esolution.family.validation"
            name="FamilyConstraintsCategory">
      </category>
      <constraintProvider
            cache="false"
            mode="Batch">
         <package
               namespaceUri="http://www.esolution.com/family">
         </package>
         <constraints
               categories="com.esolution.family.validation">
            <constraint
                  class="com.esolution.family.validation.constraints.NonEmptyNamesConstraint"
                  id="com.esolution.family.validation.NonEmptyNamesConstraint"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Non Empty Name Constraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Contrainte NonEmptyNameConstraint non respectée pour {0}
               </message>
               <description>
                  L'attribut nom ne doit pas être vide
               </description>
               <target
                     class="Person">
                  <event
                        name="Set">
                     <feature
                           name="name">
                     </feature>
                  </event>
               </target>
               <target
                     class="Family">
                  <event
                        name="Set">
                     <feature
                           name="name">
                     </feature>
                  </event>
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
	<extension
         point="org.eclipse.emf.validation.validationListeners">
      <listener
            class="com.esloution.family.validation.listeners.ValidationListener">
      </listener>
   </extension>
 <extension
       point="org.eclipse.emf.validation.constraintBindings">
    <binding
          category="com.esolution.family.validation"
          context="com.esolution.family.validationContext">
    </binding>
    <clientContext
          default="false"
          id="com.esolution.family.validationContext">
       <selector
             class="com.esolution.family.validation.constraints.ValidationDelegateClientSelector">
       </selector>
    </clientContext>
 </extension>
</plugin>
